.avatar-wrapper {
  position: relative;
}

.avatar {
  position: relative;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.avatar.scale-up {
  transform: scale(1.5);
}

.avatar-bg {
  position: absolute;
  z-index: 5;
  opacity: 0.5;
}

.avatar-fg {
  position: absolute;
  z-index: 10;
}