<section class="h-screen">
  <div class="flex justify-center items-center h-4/5">
    <div class="pl-10 flex flex-col gap-8">
      <h1 class="text-4xl text-blue-600 font-bold">Hi, I'm Heiko Lemmert</h1>
      <h2>I'm passionate about Building digital experiences</h2>
      <p>I'm a passionate front-end developer specializing in creating responsive, user-friendly websites and
        applications.</p>
      <button class="btn btn-primary">Contact me</button>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center gap-4 h-1/5">
    <p>Scroll to explore</p>
    <div class="animate-bounce">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down text-emerald-400"><path d="m6 9 6 6 6-6"></path></svg>
    </div>
  </div>
  <div class="gradient-bg">
  <svg 
       viewBox="0 0 100vw 100vw"
       xmlns='http://www.w3.org/2000/svg'
       class="noiseBg"
       >
    <filter id='noiseFilterBg'>
      <feTurbulence 
                    type='fractalNoise'
                    baseFrequency='0.6'
                    stitchTiles='stitch' />
    </filter>

    <rect
          width='100%'
          height='100%'
          preserveAspectRatio="xMidYMid meet"
          filter='url(#noiseFilterBg)' />
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" class="svgBlur">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
        <feBlend in="SourceGraphic" in2="goo" />
      </filter>
    </defs>
  </svg>
  <div class="gradients-container">
    <div class="g1"></div>
    <div class="g2"></div>
    <div class="g3"></div>
    <div class="g4"></div>
    <div class="g5"></div>
    <div class="interactive"></div>
  </div>
</div>
</section>
