<section class="above-content">
  <div class="flex justify-center items-center h-4/5">
    <div class="pl-10 flex flex-col gap-8">
      <h1 class="text-4xl text-blue-600 font-bold">Hi, I'm Heiko Lemmert</h1>
      <h2>I'm passionate about Building digital experiences</h2>
      <p>I'm a passionate front-end developer specializing in creating responsive, user-friendly websites and
        applications.</p>
      <button class="btn btn-primary">Contact me</button>
    </div>
    <div class="pr-10">
      <img src="\images\placeholder_avatar.png" alt="">
    </div>
  </div>
  <div class="flex flex-col justify-center items-center gap-4 h-1/5">
    <p>Scroll to explore</p>
    <div class="animate-bounce">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down text-emerald-400"><path d="m6 9 6 6 6-6"></path></svg>
    </div>
  </div>
</section>
