.form-group {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.privacy-consent {
    flex-direction: row;
    gap: 8px;
}
.vd.invalid {
	border: 2px red solid;
}
.vd.valid {
	border: 2px green solid;
}
