<section *transloco="let t, prefix: 'contacts'" id="contacts"
  class="max-w-(--max-content) h-max py-8 lg:py-16 px-4 flex flex-col items-center gap-8 lg:gap-16 2xl:gap-20 text-balance">
  <h1 class="text-4xl lg:text-5xl font-bold mb-4">
    <span class=" font-accent text-center bg-linear-to-r from-primary to-secondary text-transparent bg-clip-text">
      {{ t('title') }}
    </span> 👋
  </h1>
  <div class="flex h-auto flex-col md:flex-row gap-4 mx-4">
    <div class="flex-1 flex flex-col gap-6">
      <div>
        <h2
          class="font-secondary text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-secondary to-accent">
          {{ t('opener') }}
        </h2>
        <p class="text-base leading-relaxed text-balance mb-6"> {{ t('question') }} <br>
          {{ t('answer') }}
        </p>
      </div>
      <div class="h-px my-2 bg-linear-to-r from-(--color-opacity) via-(--color-primary) to-(--color-opacity)"></div>
      <ul class="social-nav social-btn flex justify-center gap-8">
        @for(social of socialData.socialLinks; track $index) {
          <li class="size-14 rounded-full flex">
            <a class="size-full relative cursor-pointer" [style.color]="lightModeActivated ? social.colorLight : social.color" [href]="social.link"
              target="_blank">
              <i [ngClass]="lightModeActivated ? social.iconLight : social.icon" class="ci ci-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
              </i></a></li>
          }
      </ul>
    </div>
    <div class="flex-1">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="flex flex-col gap-3">
        <div id="name-field">
          <div class="relative">
            <input type="text" id="name-input" #name="ngModel"
              [ngClass]="{'invalid': name.invalid && name.dirty, 'valid': name.valid}" [(ngModel)]="contactData.name"
              name="name" [pattern]="namePattern" minlength="3"
              class="block px-2.5 pb-2.5 pt-4 w-full text-sm bg-(--color-base-100) rounded-lg border-1 border-(--color-primary)/70 appearance-none focus:outline-none focus:ring-0 focus:border-(--color-primary) peer"
              placeholder=" " required />
            <label for="name-input"
              [ngClass]="{'peer-focus:text-(--color-primary)': name.untouched && name.pristine, 'peer-focus:text-(--color-error)': name.invalid && name.dirty, 'peer-focus:text-(--color-success)': name.valid}"
              class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-(--color-base-100) rounded-t-2xl px-2 peer-focus:px-2  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
              Name</label>
          </div>
          @if(name.invalid && name.touched) {
            <p id="outlined_error_help" class="mt-1 ml-1 text-xs text-error">
              @if(name.errors?.['required']) {
                <span class="font-medium">Hoppla!</span> Der Name ist erforderlich.
                }
                @if(name.errors?.['minlength']) {
                  <span class="font-medium">Ups!</span> Der Name muss mindestens 3 Zeichen lang sein.
                  }
                  @if(name.errors?.['pattern']) {
                    <span class="font-medium">Falsches Format!</span> Der Name darf nur Buchstaben, Leerzeichen und
                    Umlaute enthalten.
                    }
            </p>
            }
        </div>
        <div id="mail-field">
          <div class="relative">
            <input id="mail-input" #mail="ngModel"
              [ngClass]="{'invalid': mail.invalid && mail.dirty, 'valid': mail.valid}" [(ngModel)]="contactData.mail"
              name="mail"
              class="block px-2.5 pb-2.5 pt-4 w-full text-sm bg-(--color-base-100) rounded-lg border-1 border-(--color-primary)/70 appearance-none focus:outline-none focus:ring-0 focus:border-(--color-primary) peer"
              placeholder=" " type="email" required email />
            <label for="mail-input"
              [ngClass]="{'peer-focus:text-(--color-primary)': mail.untouched && mail.pristine, 'peer-focus:text-(--color-error)': mail.invalid && mail.dirty, 'peer-focus:text-(--color-success)': mail.valid}"
              class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-(--color-base-100) rounded-t-2xl px-2 peer-focus:px-2 peer-focus:text-(--color-primary) peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
              E-Mail</label>
          </div>
          @if(mail.invalid && mail.touched) {
            <p id="outlined_error_help" class="mt-1 ml-1 text-xs text-error">
              @if(mail.errors?.['required']) {
                <span class="font-medium">Bitte gib deine E-Mail-Adresse ein.</span>
                }
                @if(mail.errors?.['email']) {
                  <span class="font-medium">Das E-Mail-Format ist ungültig. (z.B. user&#64;mail.com)</span>
                  }
            </p>
            }
        </div>
        <div id="message-field">
          <div class="relative">
            <textarea type="text" id="message-input" #message="ngModel"
              [ngClass]="{'invalid': message.invalid && message.dirty, 'valid': message.valid}"
              [(ngModel)]="contactData.message" name="message" minlength="10"
              class="block px-2.5 pb-2.5 pt-4 w-full text-sm bg-(--color-base-100) rounded-lg border-1 border-(--color-primary)/70 appearance-none focus:outline-none focus:ring-0 focus:border-(--color-primary) peer"
              placeholder=" " required></textarea>
            <label for="message-input"
              [ngClass]="{'peer-focus:text-(--color-primary)': message.untouched && message.pristine, 'peer-focus:text-(--color-error)': message.invalid && message.dirty, 'peer-focus:text-(--color-success)': message.valid}"
              class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-(--color-base-100) rounded-t-2xl px-2 peer-focus:px-2 peer-focus:text-(--color-primary) peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
              Text</label>
          </div>
          @if(message.invalid && message.touched) {
            <p id="outlined_error_help" class="mt-1 ml-1 text-xs text-error">
              @if(message.errors?.['required']) {
                <span class="font-medium">Bitte gib deine Nachricht ein.</span>
                }
                @if(message.errors?.['minlength']) {
                  <span class="font-medium">Die Nachricht ist zu kurz. Gib mehr Details an. (min. 10 Zeichen)</span>
                  }
            </p>
            }
        </div>
        <div class="form-group privacy-consent">
          <div class="flex flex-col items-center">
            <input #privacy="ngModel" ngModel type="checkbox" id="privacy-consent" name="privacy-consent"
              class="checkbox validator" required title="Required" />
            @if(privacy.invalid && privacy.touched) {
              <p class="validator-hint">Required</p>
              }
          </div>
          <label for="privacy-consent" class="text-wrap">
            {{ t('privacy-consent.pt.1') }}
            <a href="/datenschutzerklaerung" target="_blank"
              rel="noopener">{{ t('privacy-consent.pt.2') }}</a>
            {{ t('privacy-consent.pt.3') }}
          </label>
        </div>
        <button type="submit" class="btn btn-dash btn-secondary">Absenden</button>


      </form>
    </div>
  </div>
</section>
