.form-group {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.privacy-consent {
  flex-direction: row;
  gap: 8px;
}

.privacy {
  color: red;
}

#toast-default {
  opacity: 0;
  transform: translateY(-15px);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

#toast-default.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
