<footer *transloco="let t, prefix: 'navigation'" class="footer footer-horizontal footer-center bg-base-300 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <a [routerLink]="['/legal', 'imprint']" routerLinkActive="active"  class="link link-hover">{{ t('imprint') }}</a>
    <a [routerLink]="['/legal', 'privacy-policy']" routerLinkActive="active" class="link link-hover">{{ t('privacy') }}</a>
  </nav>
  <aside class="flex flex-col gap-2">
    <p>Build & Design with <span class="text-red-600">❤</span> by Heiko Lemmert</p>
    <p>© Copyright {{year}}</p>
  </aside>
</footer>