<section *transloco="let t, prefix: 'skills'" id="skills" class="max-w-(--max-content) h-max py-8 lg:py-16 px-4 flex flex-col items-center gap-8 lg:g-16 2xl:gap-20">
  <h1 class="text-4xl lg:text-5xl font-bold mb-4 font-accent text-center bg-linear-to-r from-primary to-secondary text-transparent bg-clip-text">
    {{t('title')}}
  </h1>
  <div class="flex justify-center gap-8 flex-wrap">
    @for (skill of skillData.skillList; track $index) {
      <app-skillcard [skill]="skill" [index]="$index"></app-skillcard>
    }
  </div>
</section>
