<section *transloco="let t, prefix: 'privacy'"
  class="flex flex-col items-center justify-center gap-4 min-h-screen custom-gap">
  <h1 class="text-4xl lg:text-5xl font-bold mb-4">
    <span class=" font-accent text-center bg-linear-to-r from-primary to-secondary text-transparent bg-clip-text">
      {{ t('title') }}
    </span>
  </h1>
  <div
    class="w-full animate-rotate-border max-w-3xl transition-all duration-500 ease-out transform-3d rounded-lg bg-conic/[from_var(--border-angle)] from-transparent via-(--color-accent) to-transparent from-80% via-90% to-100% p-px">
    <div class="flex flex-col gap-4 p-10 rounded-lg bg-(--color-base-100) border border-neutral-800 text-sm">
      <div class="flex justify-end text-sm">
        <p>{{ t('date') }}</p>
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="font-semibold text-base text-(--color-accent)">{{ t('index.contentView') }}</h2>
        <ul class="flex flex-col gap-2index list-disc">
          <li><a [routerLink]="['/legal', 'privacy-policy']" fragment="persona"
              class="index-link hover:underline">{{ t('index.persona') }}</a>
          </li>
          <li><a [routerLink]="['/legal', 'privacy-policy']" fragment="overview"
              class="index-link hover:underline">{{ t('index.overview') }}</a></li>
          <li><a [routerLink]="['/legal', 'privacy-policy']" fragment="legalBases"
              class="index-link hover:underline">{{ t('index.legalBases') }}</a></li>
          <li><a [routerLink]="['/legal', 'privacy-policy']" fragment="safetyMeasures"
              class="index-link">{{ t('index.safetyMeasures') }}</a></li>
          <li><a [routerLink]="['/legal', 'privacy-policy']" fragment="dataTransfer"
              class="index-link hover:underline">{{ t('index.dataTransfer') }}</a></li>
          <li><a [routerLink]="['/legal', 'privacy-policy']" fragment="internationalDataTransfer"
              class="index-link">{{ t('index.internationalDataTransfer') }}</a></li>
          <li><a [routerLink]="['/legal', 'privacy-policy']" fragment="generalInformation"
              class="index-link hover:underline">{{ t('index.generalInformation') }}</a></li>
          <li><a [routerLink]="['/legal', 'privacy-policy']" fragment="rightsPersona"
              class="index-link hover:underline">{{ t('index.rightsPersona') }}</a></li>
          <li><a [routerLink]="['/legal', 'privacy-policy']" fragment="onlineWebhosting"
              class="index-link">{{ t('index.onlineWebhosting') }}</a></li>
          <li><a [routerLink]="['/legal', 'privacy-policy']" fragment="contact"
              class="index-link hover:underline">{{ t('index.contact') }}</a></li>
          <li><a [routerLink]="['/legal', 'privacy-policy']" fragment="socialMedia"
              class="index-link hover:underline">{{ t('index.socialMedia') }}</a></li>
        </ul>
      </div>


      <div class="flex flex-col gap-2">
        <h2 id="persona" class="font-semibold text-base text-(--color-accent)">
          {{ t('persona.header') }}</h2>
        <p [innerHTML]="address"></p>
        <p>{{ t('persona.mail') }}<a href="mailto:heiko.lemmert@outlook.com"
            class="text-blue-600 hover:underline"> {{ globalData.mail }}</a></p>
        <p>{{ t('persona.imprint') }} <a [href]="url"
            class="text-blue-600 hover:underline">{{ globalData.domain }}/imprint</a></p>
      </div>
      <div class="flex flex-col gap-2">
        <h2 id="overview" class="font-semibold text-base text-(--color-accent)">
          {{ t('overview.header') }}</h2>
        <p>{{ t('overview.text') }}</p>
        <h3 class="text-base italic">{{ t('overview.dataTypes') }}</h3>
        <ul class="list-disc">
          <li>{{ t('overview.list1.inventoryData') }}</li>
          <li>{{ t('overview.list1.contactData') }}</li>
          <li>{{ t('overview.list1.contentData') }}</li>
          <li>{{ t('overview.list1.usageData') }}</li>
          <li>{{ t('overview.list1.metaData') }}</li>
          <li>{{ t('overview.list1.logData') }}</li>
        </ul>
        <h3 class="text-base italic">{{ t('overview.dataCategories') }}</h3>
        <ul class="list-disc">
          <li>{{ t('overview.list2.communication') }}</li>
          <li>{{ t('overview.list2.user') }}</li>
        </ul>

        <h3 class="text-base italic">{{ t('overview.processing') }}</h3>
        <ul class="list-disc">
          <li>{{ t('overview.list3.communication') }}</li>
          <li>{{ t('overview.list3.organisations') }}</li>
          <li>{{ t('overview.list3.feedback') }}</li>
          <li>{{ t('overview.list3.onlineOffering') }}</li>
          <li>{{ t('overview.list3.information') }}</li>
          <li>{{ t('overview.list3.puplic') }}</li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h2 id="legalBases" class="font-semibold text-base text-(--color-accent)">
          {{ t('relevantLegal.header') }}</h2>
        <p>
          <strong>{{ t('relevantLegal.paragraph-1.introduction') }}</strong>{{ t('relevantLegal.paragraph-1.text') }}
        </p>
        <ul>
          <li>
            <strong>{{ t('relevantLegal.paragraph-2.introduction') }}</strong>{{ t('relevantLegal.paragraph-2.text') }}
          </li>
          <li>
            <strong>{{ t('relevantLegal.paragraph-3.introduction') }}</strong>{{ t('relevantLegal.paragraph-3.text') }}
          </li>
        </ul>
        <p>
          <strong>{{ t('relevantLegal.paragraph-4.introduction') }}</strong>{{ t('relevantLegal.paragraph-4.text') }}
        </p>
        <p>
          <strong>{{ t('relevantLegal.paragraph-5.introduction') }}</strong>{{ t('relevantLegal.paragraph-5.text') }}
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h2 id="safetyMeasures" class="font-semibold text-base text-(--color-accent)">{{ t('safetyMeasures.header') }}</h2>
        <p>{{ t('safetyMeasures.paragraph-1') }}</p>
        <p>{{ t('safetyMeasures.paragraph-2') }}</p>
        <p>{{ t('safetyMeasures.paragraph-3') }}</p>
      </div>

      <div class="flex flex-col gap-2">
        <h2 id="dataTransfer" class="font-semibold text-base text-(--color-accent)">{{ t('dataTransfer.header') }}</h2>
        <p>{{ t('dataTransfer.paragraph') }}</p>
      </div>

      <div class="flex flex-col gap-2">
        <h2 id="internationalDataTransfer" class="font-semibold text-base text-(--color-accent)">{{ t('internationalDataTransfer.header') }}</h2>
        <p>{{ t('internationalDataTransfer.paragraph-1') }}</p>
        <p>{{ t('internationalDataTransfer.paragraph-2') }}</p>
        <p>{{ t('internationalDataTransfer.paragraph-3') }}.</p>
        <p>{{ t('internationalDataTransfer.paragraph-4') }}<a class="text-(--color-info)" href="https://www.dataprivacyframework.gov/" target="_blank">https://www.dataprivacyframework.gov/</a></p>
        <p>{{ t('internationalDataTransfer.paragraph-5') }}<a class="text-(--color-info)" href="https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de" target="_blank">https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de.</a></p>
      </div>

      <div class="flex flex-col gap-2">
        <h2 id="generalInformation" class="font-semibold text-base text-(--color-accent)">{{ t('generalInformation.header') }}</h2>
        <p>{{ t('generalInformation.paragraph-1') }}</p>
        <p>{{ t('generalInformation.paragraph-2') }}</p>
        <p>{{ t('generalInformation.paragraph-3') }}</p>
        <p>{{ t('generalInformation.paragraph-4') }}</p>
        <p>{{ t('generalInformation.paragraph-5.text') }}</p>
        <ul class="list-disc">
          <li>{{ t('generalInformation.paragraph-5.list.deadline-10') }}</li>
          <li>{{ t('generalInformation.paragraph-5.list.deadline-8') }}</li>
          <li>{{ t('generalInformation.paragraph-5.list.deadline-6') }}</li>
          <li>{{ t('generalInformation.paragraph-5.list.deadline-3') }}</li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h2 id="rightsPersona" class="font-semibold text-base text-(--color-accent)">{{ t('rightsPersona.header') }}</h2>
        <p>{{ t('rightsPersona.introduction') }}</p>
        <ul class="list-disc">
          <li><strong>{{ t('rightsPersona.list.paragraph-1.introduction') }}</strong>{{ t('rightsPersona.list.paragraph-1.text') }}</li>
          <li><strong>{{ t('rightsPersona.list.paragraph-2.introduction') }}</strong>{{ t('rightsPersona.list.paragraph-2.text') }}</li>
          <li><strong>{{ t('rightsPersona.list.paragraph-3.introduction') }}</strong>{{ t('rightsPersona.list.paragraph-3.text') }}</li>
          <li><strong>{{ t('rightsPersona.list.paragraph-4.introduction') }}</strong>{{ t('rightsPersona.list.paragraph-4.text') }}</li>
          <li><strong>{{ t('rightsPersona.list.paragraph-5.introduction') }}</strong>{{ t('rightsPersona.list.paragraph-5.text') }}</li>
          <li><strong>{{ t('rightsPersona.list.paragraph-6.introduction') }}</strong>{{ t('rightsPersona.list.paragraph-6.text') }}</li>
          <li><strong>{{ t('rightsPersona.list.paragraph-7.introduction') }}</strong>{{ t('rightsPersona.list.paragraph-7.text') }}</li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h2 id="onlineWebhosting" class="font-semibold text-base text-(--color-accent)">{{ t('onlineWebhosting.header') }}</h2>
        <p>{{ t('onlineWebhosting.introduction') }}</p>
        <ul class="m-elements list-disc">
          <li><strong>{{ t('onlineWebhosting.list.paragraph-1.introduction') }}</strong>{{ t('onlineWebhosting.list.paragraph-1.text') }}</li>
          <li><strong>{{ t('onlineWebhosting.list.paragraph-2.introduction') }}</strong>{{ t('onlineWebhosting.list.paragraph-2.text') }}</li>
          <li><strong>{{ t('onlineWebhosting.list.paragraph-3.introduction') }}</strong>{{ t('onlineWebhosting.list.paragraph-3.text') }}</li>
          <li><strong>{{ t('onlineWebhosting.list.paragraph-4.introduction') }}</strong>{{ t('onlineWebhosting.list.paragraph-4.text') }}</li>
          <li><strong>{{ t('onlineWebhosting.list.paragraph-5.introduction') }}</strong>{{ t('onlineWebhosting.list.paragraph-5.text') }}</li>
        </ul>
        <p><strong>{{ t('onlineWebhosting.introduction-2') }}</strong></p>
        <ul class="m-elements list-disc">
          <li><strong>{{ t('onlineWebhosting.list-2.paragraph-1.introduction') }}</strong>{{ t('onlineWebhosting.list-2.paragraph-1.text') }}
            <br>
            <strong>{{ t('onlineWebhosting.list-2.paragraph-2.introduction') }}</strong>{{ t('onlineWebhosting.list-2.paragraph-2.text') }}
            <br>
            <span><strong>{{ t('onlineWebhosting.list-2.paragraph-3.introduction') }}</strong>{{ t('onlineWebhosting.list-2.paragraph-3.text') }}</span>
            <br>
            <strong>{{ t('onlineWebhosting.list-2.paragraph-4.introduction') }}</strong> <a class="text-(--color-info)" href="https://www.hetzner.com" target="_blank">{{ t('onlineWebhosting.list-2.paragraph-4.text') }}</a>; 
            <br>
            <strong>{{ t('onlineWebhosting.list-2.paragraph-5.introduction') }}</strong> <a class="text-(--color-info)" href="https://www.hetzner.com/de/rechtliches/datenschutz" target="_blank">{{ t('onlineWebhosting.list-2.paragraph-5.text') }}</a>.
            <br>
            <strong>{{ t('onlineWebhosting.list-2.paragraph-6.introduction') }}</strong> <a class="text-(--color-info)" href="https://docs.hetzner.com/de/general/general-terms-and-conditions/data-privacy-faq/" target="_blank">{{ t('onlineWebhosting.list-2.paragraph-6.text') }}</a>.
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h2 id="contact" class="font-semibold text-base text-(--color-accent)">{{ t('contact.header') }}</h2>
        <p>{{ t('contact.introduction') }}</p>
        <ul class="m-elements list-disc">
          <li><strong>{{ t('contact.list.paragraph-1.introduction') }}</strong>{{ t('contact.list.paragraph-1.text') }}</li>
          <li><strong>{{ t('contact.list.paragraph-2.introduction') }}</strong>{{ t('contact.list.paragraph-2.text') }}</li>
          <li><strong>{{ t('contact.list.paragraph-3.introduction') }}</strong>{{ t('contact.list.paragraph-3.text') }}</li>
          <li><strong>{{ t('contact.list.paragraph-4.introduction') }}</strong>{{ t('contact.list.paragraph-4.text') }}</li>
          <li><strong>{{ t('contact.list.paragraph-5.introduction') }}</strong>{{ t('contact.list.paragraph-5.text') }}</li>
        </ul>
        <p><strong>{{ t('contact.introduction-2') }}</strong></p>
        <ul class="m-elements list-disc">
          <li><strong>{{ t('contact.list-2.paragraph-1.introduction') }}</strong>{{ t('contact.list-2.paragraph-1.text') }}
            <br>
          <span><strong>{{ t('contact.list-2.paragraph-2.introduction') }}</strong>{{ t('contact.list-2.paragraph-2.text') }}</span></li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h2 id="socialMedia" class="font-semibold text-base text-(--color-accent)">{{ t('socialMedia.header') }}</h2>
        <p>{{ t('socialMedia.paragraph-1') }}</p>
        <p>{{ t('socialMedia.paragraph-2') }}</p>
        <p>{{ t('socialMedia.paragraph-3') }}</p>
        <p>{{ t('socialMedia.paragraph-4') }}</p>
        <p>{{ t('socialMedia.paragraph-5') }}</p>
        <ul class="m-elements list-disc">
          <li><strong>{{ t('socialMedia.list-1.paragraph-1.introduction') }}</strong>{{ t('socialMedia.list-1.paragraph-1.text') }}</li>
          <li><strong>{{ t('socialMedia.list-1.paragraph-2.introduction') }}</strong>{{ t('socialMedia.list-1.paragraph-2.text') }}</li>
          <li><strong>{{ t('socialMedia.list-1.paragraph-3.introduction') }}</strong>{{ t('socialMedia.list-1.paragraph-3.text') }}</li>
          <li><strong>{{ t('socialMedia.list-1.paragraph-4.introduction') }}</strong>{{ t('socialMedia.list-1.paragraph-4.text') }}</li>
          <li><strong>{{ t('socialMedia.list-1.paragraph-5.introduction') }}</strong>{{ t('socialMedia.list-1.paragraph-5.text') }}</li>
        </ul>
        <p><strong>{{ t('socialMedia.introduction') }}</strong></p>
        <ul class="m-elements list-disc">
          <li><strong>{{ t('socialMedia.list-2.paragraph-1.service.introduction') }}</strong>{{ t('socialMedia.list-2.paragraph-1.service.text') }}
            <br>
            <strong>{{ t('socialMedia.list-2.paragraph-1.provider.introduction') }}</strong>{{ t('socialMedia.list-2.paragraph-1.provider.text') }}
            <br>
            <span><strong>{{ t('socialMedia.list-2.paragraph-1.legal.introduction') }}</strong>{{ t('socialMedia.list-2.paragraph-1.legal.text') }}</span>
            <br>
            <strong>{{ t('socialMedia.list-2.paragraph-1.website.introduction') }}</strong> <a class="text-(--color-info)" href="https://www.instagram.com" target="_blank">{{ t('socialMedia.list-2.paragraph-1.website.text') }}</a>; 
            <br>
            <strong>{{ t('socialMedia.list-2.paragraph-1.privacy.introduction') }}</strong> <a class="text-(--color-info)" href="https://privacycenter.instagram.com/policy/" target="_blank">{{ t('socialMedia.list-2.paragraph-1.privacy.text') }}</a>. 
            <br>
            <strong>{{ t('socialMedia.list-2.paragraph-1.countryTransfers.introduction') }}</strong>{{ t('socialMedia.list-2.paragraph-1.countryTransfers.text') }}</li>
          <li>
            <strong>{{ t('socialMedia.list-2.paragraph-2.service.introduction') }}</strong>{{ t('socialMedia.list-2.paragraph-2.provider.text') }} 
            <br>
            <strong>{{ t('socialMedia.list-2.paragraph-2.provider.introduction') }}</strong>{{ t('socialMedia.list-2.paragraph-2.provider.text') }} 
            <br>
            <span><strong>{{ t('socialMedia.list-2.paragraph-2.legal.introduction') }}</strong>{{ t('socialMedia.list-2.paragraph-2.legal.text') }}</span>
            <br>
            <strong>{{ t('socialMedia.list-2.paragraph-2.website.introduction') }}</strong> <a class="text-(--color-info)" href="https://www.linkedin.com" target="_blank">{{ t('socialMedia.list-2.paragraph-2.website.text') }}</a>
            <br>
            <strong>{{ t('socialMedia.list-2.paragraph-2.privacy.introduction') }}</strong> <a class="text-(--color-info)" href="https://www.linkedin.com/legal/privacy-policy" target="_blank">{{ t('socialMedia.list-2.paragraph-2.privacy.text') }}</a>
            <br>
            <strong>{{ t('socialMedia.list-2.paragraph-2.countryTransfers.introduction') }}</strong><a class="text-(--color-info)" href="https://legal.linkedin.com/dpa" target="_blank">{{ t('socialMedia.list-2.paragraph-2.countryTransfers.text') }}</a>
            <br>
            <strong>{{ t('socialMedia.list-2.paragraph-2.rightOfAppeal.introduction') }}</strong> <a class="text-(--color-info)" href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out" target="_blank">{{ t('socialMedia.list-2.paragraph-2.rightOfAppeal.text') }}</a>
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <p class="seal"><a href="https://datenschutz-generator.de/" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">{{ t('disclamier') }}</a></p>
      </div>

    </div>
  </div>


</section>
