// .avatar-container::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 300px;
//   height: 75px;
//   background-color: rgba(147, 51, 234, 0.3); // Lila halbtransparent
//   border-top-left-radius: 150px;
//   border-top-right-radius: 150px;
// }