.avatar-anim-wrapper {
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s;
}
.animate-out {
  animation: avatar-out 0.6s forwards;
}
.animate-in {
  animation: avatar-in 0.6s forwards;
}
@keyframes avatar-in {
  from {
    transform: translate(-90px, 80px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes avatar-out {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(90px, 80px);
    opacity: 0;
  }
}