<article [ngClass]="isOdd(index) ? 'lg:flex-row-reverse' : 'lg:flex-row'" class="flex flex-col w-full px-4">
  <div #text [ngClass]="isOdd(index) ? 'lg:items-end' : 'lg:items-start'" class="flex-1 flex flex-col gap-2 z-20 xl:justify-center">
    <h3 [ngClass]="isOdd(index) ? 'pr-4' : 'pl-4'" class="text-(--color-secondary)">JavaScrip | CSS | HTML</h3>
    <h2 [ngClass]="isOdd(index) ? 'pr-4' : 'pl-4'" class="font-accent text-2xl font-bold">{{project.name}}</h2>
    <p class="font-secondary text-base xl:text-lg lg:w-[145%] xl:w-[125%] p-4 lg:p-6 glass-card text-pretty bg-(--bg-glas)">
      {{project.description | transloco}}
    </p>
    <div class="mt-4 flex gap-4">
      <button role="button" class="glass-button group px-8 py-4 rounded-lg font-secondary text-white xl:text-2xl transition-all duration-300 hover:scale-105">
        <a href="" target="_blank">Live!</a>
      </button>
      <button role="button" class="outline-button px-8 py-4 rounded-lg font-secondary text-white xl:text-2xl border-2 border-white/30 transition-all duration-300 hover:border-white/60 hover:bg-white/10">
        <a href="{{project.repositorie}}" target="_blank">Github</a>
      </button>
    </div>
  </div>
  <div #img class="flex-1 z-10 flex justify-center">
    <div class="h-auto lg:h-[240px] xl:h-auto w-[250px] md:w-[420px] xl:w-[600px] relative flex">
      <div [ngClass]="isOdd(index) ? 'top-2 right-2' : 'top-2 left-2'"
        class="absolute w-full h-full rounded-2xl bg-[repeating-linear-gradient(135deg,#00f0ff_0px,#00f0ff_2px,transparent_2px,transparent_8px)] z-0">
      </div>
      <img class="h-full w-full relative z-10 rounded-2xl grayscale" src="{{project.cover}}" alt="">
    </div>
  </div>
</article>
