.project-img {
  position: relative;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.project-img.scale-up {
  transform: scale(1.25);
}

.project-desc {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s;
  opacity: 1;
}

.project-desc.animate-out {
  transform: translateX(var(--direction));
  opacity: 0.5;
}