@use "./fonts";
@use "./animations";
@use "tailwindcss";
@plugin "daisyui";

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme {
  // Fonts
  --font-primary: 'AR One Sans', 'sans-serif';
  --font-secondary: 'Poppins', 'sans-serif';
  --font-accent: 'Gugi', 'cursive';
  // Heights & Weights
  --max-content: 1820px;
  --img-mobil: 200px;
  --img-tablet: 350px;
  --img-desktop: 500px;

  --animate-rotate-border: border-rotate 3s linear infinite;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}

@plugin "daisyui/theme" {
  name: "portodark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #1e293b;
  --color-base-200: #243447;
  --color-base-300: oklch(30% 0.04 240);
  --color-base-content: oklch(86% 0.015 250);
  --color-primary: #34d29b;
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(66% 0.18 250);
  --color-secondary-content: oklch(28% 0.066 53.813);
  --color-accent: oklch(70% 0.18 25);
  --color-accent-content: oklch(28% 0.091 267.935);
  --color-neutral: #2f1827;
  --color-neutral-content: oklch(98% 0.022 95.277);
  --color-info: #009dff;
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(64% 0.18 131.684);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: #f08c00;
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(63% 0.22 25.331);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
  --bg-glas: #0f172a90;
  --glas-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  --color-hover-text: #fff;
  --color-hover-contact-bg: #fff;
}

@plugin "daisyui/theme" {
  name: "portowhite";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  // --color-base-100: #ffffff;
  // --color-base-200: #f1f5f9;
  // --color-base-300: oklch(95% 0.01 240);
  // --color-base-content: oklch(20% 0.022 252.894);
  --color-base-100: oklch(95.127% 0.007 260.731);
  --color-base-200: oklch(93.299% 0.01 261.788);
  --color-base-300: oklch(89.925% 0.016 262.749);
  --color-base-content: oklch(32.437% 0.022 264.182);
  --color-primary: #34d29b;
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(55% 0.15 250);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(65% 0.15 30);
  --color-accent-content: #1a1a1a;
  --color-neutral: #e2e8f0;
  --color-neutral-content: #1e293b;
  --color-info: #0ea5e9;
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(60% 0.15 140);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: #f59e0b;
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: #dc2626;
  --color-error-content: #ffffff;
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
  --bg-glas: #45688561;
  --glas-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  --color-hover-text: #000;
  --color-hover-contact-bg: #000;
}

:root,
[data-theme] {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
  background-color: var(--root-bg, var(--color-base-200));
  color: var(--color-base-content);
  --glas-height: 75vh;
  --glas-card-height: 75vh;
  --glas-card-width: 1450px;
  --color-opacity: oklch(0.27 0.02 212.82 / 0.25);
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-blink: blink linear 0.7s infinite;
  --animate-rotate-center: rotate-center 0.6s ease-in-out both;
  --color-border-nav: #87878780;
  --color-light-glas: rgba(255, 255, 255, 0.05);
  --color-dark-glas: rgb(0 0 0 / 50%);
  --color-navy-glas: #0f172a15;
}

// Animation

.animate-rotate-center:hover {
  animation: var(--animate-rotate-center);
}

// Global

.glass-card {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 34%,
      rgba(255, 255, 255, 0.8) 66%,
      rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
  filter: blur(0.5px);
}

.glass-button {
  // background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
}

.glass-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent);
  transition: left 0.5s;
}

.glass-button:hover::before {
  left: 100%;
}

.outline-button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

// .social-nav li {
//   display: inline-block;
// }

// .social-nav a {
//   display: inline-block;
//   width: 60px;
//   height: 60px;
//   font-size: 20px;
//   text-decoration: none;
//   cursor: pointer;
//   text-align: center;
//   line-height: 60px;
//   position: relative;
//   transition: 0.5s;
// }

.social-btn a {
  background: var(--color-base-100);
  box-shadow: 0 0 4px 3px;
  text-shadow: 0 0 1px #333;
  transition: transform 0.4s, background 0.4s;
  border-radius: 50%;
}

.social-btn a .ci {
  transition: transform 1s;
}

.social-btn a:hover {
  background: var(--color-base-300);
}

.social-btn a:hover .ci {
  transform: rotate(-10deg) scale(3);
}

// Header

.menu :where(li)>*:not(ul, .menu-title, details, .btn):active,
.menu :where(li)>*:not(ul, .menu-title, details, .btn).menu-active,
.menu :where(li)>details>summary:active {
  background-color: transparent;
  background-size: auto;
  background-image: none;
}

.menu summary:hover,
.nav-action:hover {
  color: var(--color-accent);
  background-color: transparent !important;
}

.header-links {
  color: oklch(86% 0.015 250);
}

.active {
  color: var(--color-primary);
  font-weight: bold;
}

.dropdown-content-language {
  background: rgb(154 153 153 / 50%);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border: outset 2px oklch(0.85 0 0 / 0.5);
  border-top: 0px;
}

.dropdown-content-mobil {
  background-color: var(--color-base-100);
  left: -10px;
}

// Hero

.cursor {
  font-weight: 100;
  animation: var(--animate-blink);
  color: var(--color-secondary);
}

// Divider

.poto-divider::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      var(--color-primary) 50%,
      rgba(255, 255, 255, 0) 100%);
  opacity: 0.85;
  filter: blur(3px);
}

// Icons

.ci-mindset {
  content: url('/images/continually-learning.svg');
}

.ci-scrum {
  content: url('/images/scrum.svg');
}

.ci-rest-api {
  content: url('/images/api.svg');
}

// Tooltip

.tooltip {
  background-color: var(--color-base-100) !important;
}

// Reviews 

.reviewActiv {
  border-color: var(--color-primary);
  color: var(--color-hover-text);
}

// Validator

.invalid {
  border: 1px solid;
  border-color: color-mix(in oklab, var(--color-error) 80%, transparent) !important;
}

.valid {
  border: 1px solid;
  border-color: color-mix(in oklab, var(--color-success) 80%, transparent) !important;
}

.invalid:focus {
  border: 1.5px var(--color-error) solid !important;
}

.valid:focus {
  border: 1.5px var(--color-success) solid !important;
}

.invalid-txt:focus {
  color: var(--color-error) !important;
}

.valid-txt:focus {
  color: var(--color-success) !important;
}
