.mouse-cursor-gradient-tracking {
  position: relative;
  overflow: hidden;
  will-change: transform;
}
.mouse-cursor-gradient-tracking div {
  position: relative;
  pointer-events: none;
}
.mouse-cursor-gradient-tracking::after {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, var(--theme-color), transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  pointer-events: none;
}
.mouse-cursor-gradient-tracking:hover::after {
  --size: 120px;
}