@if(skill.name === 'Growth Mindset') {
  <div class="tooltip tooltip-neutral">
    <div class="tooltip-content py-2">
      <div class=" text-xl font-black">{{ 'skills.interest' | transloco }}</div>
      <div class="flex justify-center gap-4 pt-2">
      <i class="ci ci-vuejs ci-2xl"></i>
      <i class="ci ci-react ci-2xl"></i>
      </div>
    </div>
    <div #skillCard [style.--theme-color]="glowColor" id="skillcard-{{ index }}"
      class="glass-card mouse-cursor-gradient-tracking flex flex-col items-center justify-evenly size-[150px]">
      <i class="ci {{ skill.icon }} ci-2xl"></i>
      <span>{{ skill.name }}</span>
    </div>
  </div>
  } @else {
  <div #skillCard [style.--theme-color]="glowColor" id="skillcard-{{ index }}"
    class="glass-card mouse-cursor-gradient-tracking flex flex-col items-center justify-evenly size-[150px]">
    <i class="ci {{ skill.icon }} ci-2xl"></i>
    <span>{{ skill.name }}</span>
  </div>
  }
