<app-hero class="overflow-x-hidden"></app-hero>
<div class="{{ divider }}"></div>
<app-about-me class="flex flex-col items-center"></app-about-me>
<!-- <div class="{{ divider }}"></div> -->
<app-skilltree class="flex flex-col items-center bg-(--color-base-100)"></app-skilltree> 
<!-- <div class="{{ divider }}"></div> -->
<app-projects-list class="flex flex-col items-center"></app-projects-list>
<!-- <div class="{{ divider }}"></div> -->
<app-contacts class="flex flex-col items-center bg-base-100"></app-contacts> 
<!-- <div class="{{ divider }}"></div> -->
<app-reviews class="flex flex-col items-center"></app-reviews> 
<div class="{{ divider }}"></div>